<%- include("partials/header") -%>

<div id="bkg">
    <div>
        <h1> This is home page</h1>
        <a href="/index" class="ui green button">Start Chatting</a>
    </div>
    
</div>
    
<%- include("partials/footer") -%>