<%- include("partials/header") -%>

<div class="cont">

  <%- include("partials/index-sidebar") -%>

  <div class="main-section">
      <h1 id="welcome">Welcome to MyChatApp</h1>
  </div>
</div>
  

<%- include("partials/footer") -%>