<%- include("partials/header") -%>
<div id="form-box">
    <div class="ui main text container segment">
        <div class="ui huge header">Sign Up</div>
        <form class="ui form" action="/signup" method="POST">
            <div class="field">
                <label>Username</label>
                <input id="input-field" type="text" name="username" placeholder="Username" autocomplete="off" required>
            </div>
            <button class="ui violet basic button">Sign Up</button>
        </form>
    </div>
</div>
<%- include("partials/footer") -%>