html,body{
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../assets/89611db5a032e9447a6aefbbcd72e8a7--brushes-decoupage.jpg);
}

i.icon{
      font-size: 2em;
  }

#mainMargin{
      padding-top: 60px;
}
   
.ui.menu {
    position: fixed;
    width: 100%;
    top:0;
    border-radius: 0;
}

#bkg{
      padding-top:54px;
      width: 100%;
      height: 100vh;
	background-image: url('../assets/backg.jpg');
	background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

#bkg div{
      text-align: center;
      color: rgb(13, 13, 37);
      position: absolute;
      left: 50%;
      top:50%;
      transform: translate(-50%, -50%)
}

#bkg div h1{
      font-size: 40px;
}

.ui.segment{
      background: none;
      color: white;
}

.ui.segment #input-field{
      background: none;
      outline-color: red;
}

.ui.segment #input-field::placeholder{
      color: rgba(3, 1, 1, 0.356);
}

.ui.huge.header{
      text-align: center;
}

.ui.violet.message, .ui.brown.message{
      background: none;
      text-align: center;
}

#form-box{
      padding-top: 60px;
}

body { 
      font: 13px Helvetica, Arial;
}
      
#msg-form { 
      background: rgb(130, 138, 255); 
      padding: 3px; position: fixed; 
      bottom: 5px; 
      width: 54%;
      border-radius: 20px 0 0 20px;
}
      
#msg-input { 
      border: 0; 
      padding: 10px; 
      border-radius: 20px 0 0 20px;
      font-size: 15px;
      width: 92%;
}
   
#msg-input:focus{
      outline: none;
}

#msg-button {  
      background: rgb(130, 138, 255); 
      border: none;
}

#messages { 
      list-style-type: none; 
      margin: 0; 
      padding: 0; 
}

.sender{
      width: 80%;
      float: right;
      background-color: rgb(226, 215, 215);
      padding: 10px;
      border-radius: 30px;
      margin-bottom: 10px;
}

.receiver{
      width: 80%;
      float: left;
      background: #eee; 
      padding: 10px;
      border-radius: 30px;
      margin-bottom: 10px;

}

.msg-content{
      font-size: 20px;
}

.user-info{
      font-size: 16px;
      margin-bottom: 0;
}

.time{
      float: right;
}

.side{
      padding-top: 54px;
      width: 23%;
      float: left;
      margin-right: 3%;
      background-color: aqua;
      height:100%;
      overflow: scroll;
     
}

.side a{
      color: white;
}

.main-section{
      padding-top: 54px;
      width:65%;
      float: left;
      
      
}

.for-scroll{
      overflow: scroll;
      height: 100%;
      padding-right: 20px;
      flex-direction: column-reverse;
      display: flex;
      margin-top: 110px;
      padding-bottom: 150px;
}

.cont{
      width: 85%;
      margin: auto;
      height: 100%;
}

.paper{
      color: white;
}

.sidebar-content{
      padding-left: 5%;
      padding-right: 5%;
}

#welcome{
      position: absolute;
      left:64%;
      top: 50%;               
      transform: translate(-50%, -50%)
}

#groups{
      font-size: 30px;
     
}

.side h1{
      text-align: center;
}

#room-heading{
      text-align: center;
      background-color: blue;
      width: 53%;
      padding: 0;
      min-height: 50px;
      font-size: 35px;
      color: white;
      position: fixed;
      top:54px;
}

#sidebar-heading{
      
      background-color: blue;
      width: 100%;
      padding: 0;
      min-height: 50px;
      font-size: 20px;
      color: white;
      position: sticky;
      top:0;
      padding-top: 8px;
      z-index: 0;
}

#back-icon{
      
      font-size: 20px;
      float: left;
}

#users-icon{
      padding-left: 23%;
}

#user-icon{
      font-size: 25px;
}

#leave-icon{
      float: right;
      font-size: 20px;
      color: white;
}

#lock-icon{
      font-size: 16px;
}

.flash-cont{
      width: 60%;
      margin: 0 auto;
      padding-top: 60px;
}

#join-button{
      position: fixed;
      bottom: 5px;
      left: 50%;
      justify-items: center;
      font-size: large;
}

@media(max-width:1170px){
      #msg-input{
            width: 80%;
      }
      .flash-cont{
            width: 70%;
      }
}

@media(max-width:600px){
      #msg-form{
            width: 44%;
      }
      #msg-input{
            width: 70%;
      }
      .main-section{
            width: 55%;
      }
}

@media(max-width:1000px){
      .side{
            width: 150px;
     }
     #users-icon{
           padding-left: 25px;
     }
     .flash-cont{
           width: 80%;
     }

}

